body {
    background-color: #ad9d9d;
}

nav .btn-busca-nav{
    color: #d9adad !important;
    border-color: #d9adad;
}

.vertical-menu {
    width: 200px; /* Set a width if you like */
    background-color: #fccbcb; /* Grey background color */
    height: max-content;
   
  }
  
  .vertical-menu a {    
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding-left: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    padding-top: 10px;
    text-align: center;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
  }